# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
[Ll]ibrary/
sysinfo.txt
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
RabbitHabbit/RabbitHabbit-csharp.v11.suo
RabbitHabbit/Assembly-CSharp-firstpass-vs.csproj
RabbitHabbit/Assembly-CSharp-firstpass.csproj
RabbitHabbit/Assembly-CSharp-vs.csproj
*.csproj
RabbitHabbit/Assembly-CSharp-vs.csproj
*.csproj
RabbitHabbit/RabbitHabbit-csharp.sln
*.sln
*.csproj
RabbitHabbit/Assembly-CSharp-vs.csproj
*.sln
